PPHY/Common/Release/Common.Build.CppClean.log
PPHY/Physics/Release/Physics.Build.CppClean.log
PPHY/Common/Debug/
PPHY/Common/x64/
PPHY/Physics/Debug/
PPHY/Physics/x64/
PPHY/DM2212_Physics.VC.VC.opendb
PPHY/DM2212_Physics.VC.db
PPHY/Common/Release/
PPHY/Physics/Release/
PPHY/Debug/Physics.pdb
PPHY/Debug/Physics.ilk
PPHY/Debug/Physics.exe
PPHY/Debug/Common.pdb
PPHY/Debug/Common.lib
